/* css reset */
body {
  margin: 0px;
  padding: 0px;
}

/* navigation bar */
#navbar {
  display: flex;
  align-items: center;
  position: relative;
  top: 0px;
}

/* css variables */
:root {
  --navbar-height: 59px;
}

/* Navigation bar: logo and image */
#logo {
  margin: 10px 34px;
}

#logo img {
  margin: 3px 6px;
  height: 59px;
}

/*Navigation bar: list styling */
#navbar ul {
  display: flex;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 80%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.7;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover, .navbar li a:active {
  color: white;
  background-color: black;
}

/* Home section */
#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 630px;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  background: url("./bg3.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 769px;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
}

#home h2 {
  color: white;
  text-align: center;
  margin-top: -230px;
  margin-bottom: 5px;
  padding: 12px;
  font-size: 4.2rem;
  font-family: 'Pacifico', cursive;
}

#home p {
  color: seagreen;
  text-align: center;
  font-size: 1.8rem;
  padding: 1px 3px;
  font-family: 'Pacifico', cursive;
}

/* utilitty classes */
.h-primary {
  font-family: 'Bree Serif', serif;
  font-size: 3.8rem;
  padding: 12px;
}

.h-secondary {
  font-size: 2.3rem;
  padding: 12px;
  margin: 1px;
}

.btn {
  margin: 0 9px;
  background-color: black;
  color: white;
  padding: 4px 14px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Bree Serif', serif;
}

.btn:hover {
  background-color: grey;
}

.center {
  text-align: center;
}

/* service section */
#services {
  margin: 34px;
  display: flex;
}

#services .box {
  border: 2px solid brown;
  padding: 34px;
  margin: 3px 6px;
  border-radius: 28px;
  background: #f2f2f2
}

#services .box img {
  height: 160px;
  margin: auto;
  display: block;
}

#services .box p {
  font-family: 'Bree Serif', serif;
}

/* client section */
#client-section {
  height: 344px;
}

#client-section::before {
  content: "";
  position: absolute;
  background: url("./bg4.png") no-repeat center center/cover;
  height: 50%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}

#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clients img {
  height: 124px;
}

.client-item {
  padding: 34px;
}

/* contact section */
#contact {
  position: relative;
}

#contact::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  background: url("./contact.jpg") no-repeat center center/cover;
}

#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 34px;
}

#contact-box form {
  width: 40%;
}

#contact-box label {
  font-size: 1.3rem;
  font-family: 'Bree Serif', serif;
}

#contact-box input, textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
}

footer {
  background: black;
  color: white;
  padding: 9px 20px;
}
